header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: slategray;
}
footer {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: deeppink;
  text-align: center;
  font-size: smaller;
}
nav {
  font-family:Arial, Helvetica, sans-serif;
}
main {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: cadetblue;
}
h1 {
  color:azure;
  text-align: center;
}
p {
  color:beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
  width:100%;
  background-color: white;
}
ol {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:coral;
}
li {
  font-style:normal;
}
ul {
  font-style:normal;
}
table {
  font-size: 15;
}
th {
  font-style: italic;
}
td {
  font-style: italic;
}
#UL li:nth-child(odd){
  background-color: rgb(60, 212, 250);
}
#HTML {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
  font-size: 1.5em;
  color: crimson;
  width: 100%;
}
#HTML tr:nth-child(even){
  background-color: lightgray;
}
tr.title {
  color: white;
  background-color: black;
  font-style: normal;
}
th.title {
  color: white;
  background-color: black;
  font-style: normal;
}
a:link {
color: coral;
text-decoration: none;
}
a:visited {
color: red;
text-decoration: none;
}
a:hover {
color: blue;
text-decoration: none;

}
a:active {
color: blueviolet;
text-decoration: none;
}